body {
	font-family: "Oxygen", sans-serif;

}
h4.event_name, .start_date > p, .venue {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
nav.navbar, #filter-btns button, .btn {
	background-color: #d8e1ff;
	color: black;
}
nav.navbar a:link, nav.navbar a:visited {
	color: black;
}
nav.navbar a:hover {
	color: white;
}
.event > .thumbnail {
	background-color: #f4f7ff;
}
.filter-column {
	margin-bottom: 10px;
}
