body {
	font-family: "Oxygen", sans-serif;

}
h4.event_name, .start_date > p, .venue {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.event > .thumbnail {
	/*background-color: #eee5ff;*/
}
