<div class="live-streams-container">
  <mat-card *ngFor="let ls of liveStreamEvents">
    <mat-card-title>{{ ls.title }}</mat-card-title>
    <mat-card-content>
      <p>{{ ls.artistName }}</p>
      <p>{{ getDateDisplayValue(ls.startDatetime) }}</p>
      <p>{{ getDateDisplayValue(ls.endDatetime) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button href="{{ ls.facebookLink }}" target="_blank"
        ><i class="fab fa-facebook-square fa-lg"></i>
      </a>
      <a mat-icon-button href="{{ ls.youtubeLink }}" target="_blank"
        ><i class="fab fa-youtube fa-lg"></i
      ></a>
    </mat-card-actions>
  </mat-card>
</div>
