<form (ngSubmit)="onSubmit()" #f="ngForm">
  <mat-form-field class="full-width">
    <input
      type="text"
      placeholder="Event Title"
      name="title"
      matInput
      required
      ngModel>
  </mat-form-field>
  <br>

  <mat-form-field class="full-width">
    <input
      type="text"
      placeholder="Event Description"
      name="description"
      matInput
      required
      ngModel>
  </mat-form-field>
  <br>

  <mat-form-field class="full-width">
    <input
      type="number"
      placeholder="Event Price"
      name="price"
      matInput
      required
      ngModel>
  </mat-form-field>
  <br>

  <mat-form-field class="half-width">
    <input
      type="date"
      placeholder="Event Start Date"
      name="startDate"
      matInput
      required
      ngModel>
  </mat-form-field>

  <mat-form-field class="half-width">
    <input
      type="time"
      placeholder="Event Start Time"
      name="startTime"
      matInput
      required
      ngModel>
  </mat-form-field>
  <br>

  <mat-form-field class="half-width">
    <input
      type="date"
      placeholder="Event End Date"
      name="endDate"
      matInput
      required
      ngModel>
  </mat-form-field>

  <mat-form-field class="half-width">
    <input
      type="time"
      placeholder="Event End Time"
      name="endTime"
      matInput
      required
      ngModel>
  </mat-form-field>
  <br>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="f.invalid">Submit
  </button>
</form>
