html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.nav-container {
  margin-bottom: 1rem;
}

.foot-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-btn {
  margin: 0.25rem;
}

.host-link {
  margin-bottom: 0.25rem;
}

.event-card {
  margin-bottom: 0.5rem;
}
