@import '../../common'

.event-card
  padding: 0.5rem
  border: 1px solid #aaaaaa
  box-shadow: 4px 4px #666666

mat-card-content
  margin-bottom: 0

.details
  font-family: "Ubuntu", sans-serif
  display: flex
  flex-direction: column
  height: 100%
  justify-content: space-between

.start-date
  width: 100%
  overflow: ellipsis

mat-icon
  color: $primary
  background-color: white
  border-radius: 12px


