<div class="news-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>Welcome to thisiship!</h3></mat-card-title>
      <mat-card-subtitle
        >A place to keep track of what's going on in your neighborhood
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>thisiship Live Streams</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Keep track of when your favorite acts are going Live on the internet.</p>
      <p>Head on over to the streams page to learn more.</p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="streams" mat-raised-button color="accent">Streams</a>
    </mat-card-actions>
  </mat-card>
</div>
