	<div class="container">
		<div id="banner_carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<!--
				<div class="item active">
					<a class="promo-link" href="https://www.facebook.com/events/120475865294435/" target="_blank"><img src="img/bluemarble.jpg" alt="First slide"></a>
				</div>
				-->
				<div class="item active">
					<div class="jumbotron">
						<h3> Promote your Music, Business, Event, or Art here! </h3>
						<p> Contact This is Hip on <a class="promo-link" href="http://www.facebook.com/thisishipmusic" target="_blank">Facebook </a> for information!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
