.Event {
  margin: 1em auto;
  width: 80%;
  background-color: #aaa;
}
@media (min-width: 550px) {
  .Event {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .Event {
    width: 25%;
    margin: 1em;
  }
}

